/*
Color Used 
Text color: whitesmoke
Button color: goldenrod
Border color: black
Customized my NavBar
Added styling to my my main elements
*/
.navbar {
  background-color: #4d5656;
}

.navbar-text,
.navbar-brand,
.nav-link {
  color: whitesmoke;
}

.navbar-toggler {
  background-color: whitesmoke;
}

h1 {
  color: #000000;
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

.modal-title:first-letter {
  text-transform: uppercase;
}

li {
  text-align: center;
  list-style: none;
  margin-bottom: 10px;
}

.my-1 {
  background-color: goldenrod;
  border-color: black;
}